@model IEnumerable<PCDB.Models.Components.Component>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Index</h2>
            @Html.ActionLink("Create", "Create", "Components")
        </div>
    </div>

    @foreach (var component in Model)
    {
        <div class="row mt-2">
            <div class="col-sm">
                <a href="@Url.RouteUrl("ComponentDetails", new { componentName = component.Name.Replace(' ', '_') })" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@component.Name</h5>
                            <h6 class="card-substitle mb-2 text-muted">@component.GetPrice()</h6>
                            <p class="card-text">@component.Description</p>
                            <a href="@component.GetComponentTypeLink">@PCDB.Services.EnumHelper.GetDescription((PCDB.Models.Components.ComponentType)component.ComponentType)</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }
</div>